// text
$text-size-small: 12px;
$text-size-deafult: 16px;
$text-size-medium: 18px;
$text-size-large: 20px;
$text-size-xl: 30px;

// margin and padding
$margin-small: 10px;
$margin-medium: 20px;
$margin-large: 30px;
$margin-xl: 50px;